.login-background {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "work sans";
  height: 100vh;

  .login-container {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;

    .login-content {
      padding: 10px;

      .login-text {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        padding-top: 10px;
      }

      .login-input {
        margin: 7px 0;
      }

      .btn-login {
        width: 100%;
        margin: 10px 0;
        height: 30px;
        border-radius: 15px;
        outline: none;
        border: none;
        background: rgb(34, 193, 195);
        background: linear-gradient(
          135deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%
        );
        color: white;
      }

      .forgot-password {
        font-size: 12px;
      }

      .social-login {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 10px;

        .google {
          font-size: 30px;
          background: #e73f3f;
          border-radius: 50px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          margin-right: 10px;
        }

        .facebook {
          font-size: 30px;
          background: #1f34d8;
          border-radius: 50px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
